@import url(reset.css);

header section {
    background-color: #FFD11B;
}

.content, nav {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header .content {
    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-between;

}

.content__logo {
    max-width: 176px;
    min-height: 69px;
}

.content__button-container {
    display: flex;
    gap: 24px;
}

.content button {
    max-width: 238px;
    border-radius: 100px;
    padding: 14px 40px;
}

.content__button_volonteer {
    background-color: #F4F4F4;
}

.content__button_helpful {
    color: #fff;
    background-color: #226C1C;
}

header nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

header nav a {
    color: #000;
    text-decoration: none;
}
