.body {
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header {
    width: 100%;
    max-width: 1920px;
    display: grid;
    column-gap: 6px;
    justify-items: center;
}

.header__top {
    background: var(--light-yellow, #FFD11B);
    display: flex;
    gap: 604px;
     padding: 10px 200px 10px 320px;
}

.header__logo {
    max-width: 176px;
    min-height: 69px;
}

.header__button-container{
    display: flex;
    gap: 24px;
}

.header__button {
    width: 238px;
    border-radius: 100px;
    padding: 14px 40px;
}

.header__button_volonteer {
    background: var(--very-light-grey, #F4F4F4);
}

.header__button_helpful {
    color: #fff;
    background: var(--green, #226C1C);
}

.header__nav {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header__item {
    color: var(--black, #000);
    text-decoration: none;
}
